p{
    max-width: 600px;
    width: 100%;
    font-size: 12pt;
    margin: 0;
}
h2,h3 {
    margin: 0;
}
.paragraph{
    display: grid;
    place-content: center;
    margin: 0;
}
a:link, a:visited{
    text-decoration: none;
    color: blue;
}
a:hover, a:active{
    text-decoration: none;
    color: lightblue;
}