.MathJax{
    font-size: 150%;
}
p{
    max-width: 600px;
    width: 100%;
    font-size: 12pt;
    margin: 0;
}
h2,h3 {
    margin: 0;
}
h4 {
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-weight: 600;
    font-style: oblique;
}
.paragraph{
    display: grid;
    place-content: center;
    margin: 0;
}
a:link, a:visited{
    text-decoration: none;
    color: blue;
}
a:hover, a:active{
    text-decoration: none;
    color: lightblue;
}